.blockquote__text {
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  quotes: none;
  margin: 0 0 42px;
  padding-left: 31px;
}

.blockquote__text:after {
  content: " \201d";
  font-weight: 900;
  color: #6C0287;
}
