.rooms__item_bg-image_starwars {
    background-image: url('../../../../img/halls/star-wars.png');
}

.rooms__item_bg-image_wildwest {
    background-image: url('../../../../img/halls/wild-west.png');
}

.rooms__item_bg-image_neonstyle {
    background-image: url('../../../../img/halls/neon-style.png');
}

.rooms__item_bg-image_80svibes {
    background-image: url('../../../../img/halls/80s.png');
    padding-top: 97px;
}