.in-room__image_bg-image_80svibes {
    background-image: url("../../../../img/halls/80s-vibes.png");
}

.in-room__image_bg-image_starwars {
    background-image: url("../../../../img/halls/star-wars.png");
}

.in-room__image_bg-image_wildwest {
    background-image: url("../../../../img/halls/wild-west.png");
}

.in-room__image_bg-image_neonstyle {
    background-image: url("../../../../img/halls/neon-style.png");
}