body {
  background-color: #1B1A1B;
  color: #FFFFFF;
  margin: 0;
}

fieldset {
  border: none;
}

.section {
  margin: 0;
  padding: 50px 0;
}

.section__title {
  max-width: 800px;
  margin: 0 auto 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.section__text {
  font-size: 20px;
  line-height: 28px;
  margin-bottom:28px;
  white-space: pre-line;
}

.section__text-small {
  font-size: 14px;
  line-height: 16px;
}

.section__text_margin_60 {
  margin-bottom: 60px;
}
