:root {
    --color-bg-color: #1B1A1B;
    --color-primary-pink: #CD06FF;
    --color-primary-blueviolent: #6c0287;
    --primary-color: #FFFFFF;
    --color-bg-reserve: #440F51;
    --color-contacts-hover-focus: #EADEED;
    --color-header-active: #640AA3;
}