.header__button {
    border: 3px solid var(--color-primary-pink, #CD06FF);
    border-radius: 10px;
    background: inherit;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 9px 29px 10px;
    color: var(--primary-color, #FFFFFF);
    transition-duration: 0.2s;
    transition-property: background, border, outline;
}

.header__button:hover {
    background: var(--color-primary-blueviolent, #6c0287);
    border: 3px solid var(--color-primary-blueviolent, #6c0287);
}

.header__button:focus {
    background: var(--color-primary-blueviolent, #6c0287);
}

.header__button:active {
    background: var(--color-header-active, #640AA3);
    outline: 1px solid #000000;
}