.comments__item::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.comments__item {
    margin-bottom: 57px;
    font-size: 20px;
}

.comments__item:last-child {
    margin-bottom: 0;
}