.hall__name {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
    padding: 335px 0;
    font-weight: 700;
    font-size: 90px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}