.reserve__date-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 14px;
    max-width: 300px;
}


.reserve__date-block:last-child {
    width: 100%;
}