.reserve__date-block-input {
    transition-duration: 0.2s;
    transition-property: outline;
    width: 100%;
}

.reserve__date-block-input:focus {
    outline: 2px solid var(--color-primary-pink, #CD06FF);
}