.relax__item_bg-image_vr {
    background-image: url("../../../../img/relax/vr.jpg")
}

.relax__item_bg-image_audio {
    background-image: url("../../../../img/relax/audio.jpg")
}

.relax__item_bg-image_micro {
    background-image: url("../../../../img/relax/micro.jpg")
}

.relax__item_bg-image_table-games {
    background-image: url("../../../../img/relax/table-games.jpg")
}

.relax__item_bg-image_netflix {
    background-image: url("../../../../img/relax/netflix.jpg")
}

.relax__item_bg-image_playstation {
    background-image: url("../../../../img/relax/playstation.jpg")
}
