.desktop__container {
  position: relative;
  min-height: 823px;
}

.desktop__container::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1180px;
  height: 823px;
  box-sizing: border-box;
  background-image: url('../../../img/desktop.png');
  background-size: 675px 762px;
  background-repeat: no-repeat;
  background-position: right  bottom ;
}