.desktop__container {
  position: relative;
  min-height: 823px;
}

.desktop__container::before {
  position: absolute;
  right: 30px;
  bottom: 0;
  content: "";
  width: 675px;
  height: 823px;
  background-image: url('../../../img/desktop.png');
  background-size: 675px 762px;
  background-repeat: no-repeat;
  background-position: right bottom ;
}