.blockquote__text-block {
  display: block;
}

.blockquote {
  position: relative;
}

.blockquote__text:before {
  position: absolute;
  top: -11px;
  left: 0;
  content: "\201c";
  font-weight: 900;
  color: var(--color-primary-blueviolent, #6c0287);
}
