.reserve__block-entertainment {
    display: flex;
    max-width: 300px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px 0;
}

.reserve__block-entertainment:last-child {
    margin-right: 0;
}