.reserve__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 60px;
}

.reserve__block:last-child {
    margin-bottom: 0;
    width: 100%;
    justify-content: flex-end;
    padding-right: 100px;
}