.desktop__link {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 90px;
    display: block;
    width: 97px;
    height: 97px;
}

.desktop__link:hover {
    background: #ffffff;
    border-radius: 50%;
}

.desktop__link:hover > svg > rect {
    fill: #6C0287;
}

.desktop__link:focus {
    outline: 1px solid #CD06FF;;
}

.desktop__link:active {
    background: #CD06FF;
    outline: none;
}

.desktop__link:active > svg > rect {
    fill: #ffffff;
}