.desktop__link {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 90px;
    display: block;
    width: 97px;
    height: 97px;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-property: background, fill, outline;
}

.desktop__link::after {
    content: "";
    position: absolute;
    inset: 0;
}

.desktop__link:hover {
    background: #ffffff;
}

.desktop__link:hover .desktop__link-rect {
    fill: #6C0287;
}

.desktop__link:focus::after {
    outline: 1px solid #CD06FF;
}

.desktop__link:active {
    background: #CD06FF;
    outline: none;
}

.desktop__link:active .desktop__link-rect {
    fill: #ffffff;
}