.address__text {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 14px;
  transition-duration: 0.3s;
  transition-property: color;
}

.address__text:first-child {
  margin-bottom: 39px;
}

.address__text:last-child {
  margin-bottom: 0;
}

.address__text:before {
  content: "";
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-right: 28px;
}

.address__text:not(:first-child):hover {
  color: #EADEED;
}

.address__text:not(:first-child):focus {
  color: #EADEED;
}

.address__text:not(:first-child):active {
  color: #CD06FF;
}
