.address__text {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 14px;
}

.address__text:first-child {
  margin-bottom: 39px;
}

.address__text:last-child {
  margin-bottom: 0;
}

.address__text:before {
  content: "";
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-right: 28px;
}
