.reserve__date {
    max-height: 52px;
    overflow: hidden;
    border: none;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 12px 20px;
    flex-basis: 50%;
}
