.reserve__entertainment-input {
    width: 27px;
    height: 27px;
    margin-right: 12px;
    transition-duration: 0.2s;
    transition-property: outline, outline-offset;
}

.reserve__entertainment-input:focus {
    outline: 1px solid #CD06FF;
    outline-offset: 3px;
}