.reserve__button {
    border-radius: 10px;
    border: none;
    padding: 16px 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--color-primary-blueviolent, #6c0287);
    transition-duration: 0.2s;
    transition-property: background, outline, color;
}

.reserve__button:hover {
    background: var(--color-contacts-hover-focus, #EADEED);
    outline: 3px solid var(--color-primary-blueviolent, #6c0287);
}

.reserve__button:focus {
    background: var(--primary-color, #FFFFFF);
    outline: 3px solid var(--color-primary-blueviolent, #6c0287);
}

.reserve__button:active {
    color: var(--color-primary-blueviolent, #6c0287);
    outline: none;
}