.reserve__button {
    border-radius: 10px;
    border: none;
    padding: 16px 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6C0287;
}

.reserve__button:hover {
    background: #EADEED;
    outline: 3px solid #6C0287;
}

.reserve__button:focus {
    background: #FFFFFF;
    outline: 3px solid #6C0287;
}

.reserve__button:active {
    color: #6C0287;
    outline: none;
}