.navigation__link {
    transition-duration: 0.2s;
    transition-property: color;
}

.navigation__link:hover {
    color: #e4cfe9;
}

.navigation__link:focus {
    color: var(--color-primary-pink, #CD06FF);
}

.navigation__link:active {
    color: var(--color-header-active, #640AA3);
}