.halls__item {
  flex-basis: 580px;
  min-height: 349px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 135px 0 134px;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
}
