.halls__item {
  flex-basis: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 95px 150px;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
}
